.filterable {

    color: inherit;

    border-bottom: inherit;

    cursor: hand;

    cursor: pointer;

    font-style: normal;

}



.filterable:hover {

    color: #5bb75b;

    border-bottom: inherit;

    font-style: normal;

}



.filterable-active {

    font-style: italic;

}



.filterable-match {}



.filterable-no-match {

    display: none !important;;

}